@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 672px;
    margin-inline: auto;
    background-color: #0b0b0b;
    font-family: 'Google Sans', Arial, sans-serif;  
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.progress-gradient {
    background: linear-gradient(to right , #00008b, #4692dd, #00ffff);
}


/* Style for Swiper pagination */
.swiper-pagination-bullet {
    background: gray; /* Default color */
    opacity: 0.7; /* Slightly transparent */
    transition: background 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background: #30c0f9 !important; /* Change the active indicator to red */
    opacity: 1; /* Fully opaque */
  }
  