@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 672px;
    margin-inline: auto;
    background-color: #0b0b0b;
    font-family: 'Google Sans', Arial, sans-serif;  
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.progress-gradient {
    background: linear-gradient(to right , #00008b, #4692dd, #00ffff);
}
